---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Project from "../components/Project.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Wolf De Rechter">
  <Nav/>
  <main>
    <p class="introduction" id='home'>
      Hello I'm Wolf, a <strong>fullstack web developer</strong>. Passionate
      about creating innovative web solutions and Open-Source enthousiast. Currently working at <strong
        >Inuits</strong> combining these two passions.
    </p>
  </main>

  <div id='projects'>
    <h2 class='text-[rgb(var(--accent-light))]'>Some of my projects:</h2>
    <Project title='Cryptofolio' description="Cryptofolio is a self-hostable crypto portfolio tracker. It allows you to manually keep track of transactions and prices. It's built as both a website, as a standalone desktop application." thumbnail='./wolfez-portfolio/cryptofolio.png' github='https://www.github.com/wolfderechter/cryptofolio' demo=''></Project>
    <Project title='Node Dashboard' description="A dashboard that provides quick and digestable insights into your node and machine. You can use it to track system performance and node syncing progress." thumbnail='./wolfez-portfolio/node-dashboard.png' github='https://www.github.com/wolfderechter/taiko-node-dashboard' demo='https://dojonode.xyz/'></Project>
    <Project title='Expense Tracker' description="Keep track of your expenses in a simple webapplication. You can create expenses and categories. Gain insights into the expenses with the graphs and the changeable time period." thumbnail='./wolfez-portfolio/expense-tracker.png' github='https://www.github.com/wolfderechter/expense-tracker' demo=''></Project>
    <Project title='Friedfireant Portfolio' description="Portfolio website for an artist using the Netlify CMS. This way the content, as well as other texts like the ❛about me❜ can be self-managed in a user friendly interface." thumbnail='./wolfez-portfolio/friedfireant-portfolio.png' github='https://github.com/wolfderechter/bachelorproef-poc' demo='https://friedfireant.netlify.app'></Project>
    <Project title='Movie Review' description="A place to review and keep track of the movies you've watched. View the other members their reviews or watchlist" thumbnail='./wolfez-portfolio/movie-review.png' github='https://github.com/wolfderechter/MovieReview' demo=''></Project>
    <Project title='Art Marketplace' description="Marketplace to buy and sell art. Artists can register and get verified" thumbnail='./wolfez-portfolio/art-marketplace.png' github='https://github.com/wolfderechter/MovieReview' demo=''></Project>

  </div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    margin-top: 10rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 6rem;
  }

  #projects{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .introduction strong {
    color: rgb(var(--accent-light));
    position: relative;
  }

  .introduction strong::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: -3px;
    width: 100%;
    height: 6px;
    transform: skew(8deg) translateX(-1%);
    background: rgb(var(--accent-dark));
    z-index: -1;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
