---

---

<div
  class="flex fixed backdrop-blur-sm bg-[#310a65a6] top-[0.15rem] left-1/2 h-12 -translate-x-1/2 py-2 sm:top-[1.7rem] sm:h-[initial] sm:py-0 z-10 rounded-[8px] px-5 text-[rgb(var(--accent-light))]"
>
  <ul
    class="flex w-48 flex-wrap items-center justify-center gap-y-1 text-[0.9rem] font-medium sm:w-[initial] sm:flex-nowrap sm:gap-5"
  >
    <li>
      <a href="/" class="hover:text-gray-300 transition">Home</a>
    </li>
    <li>
      <a
        href="mailto:wolfderechter@proton.me"
        class="hover:text-gray-300 transition">Contact</a
      >
    </li>
    <li>
      <a
        href="https://github.com/wolfderechter"
        target="_blank"
        class="hover:text-gray-300 transition">Github</a
      >
    </li>
  </ul>
</div>

<style>
  li {
    opacity: 1;
    transform: none;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }
</style>
