---

---

<div
  class="flex fixed top-[0.15rem] left-1/2 h-12 -translate-x-1/2 py-2 sm:top-[1.7rem] sm:h-[initial] sm:py-0"
>
  <ul
    class="flex w-[22rem] flex-wrap items-center justify-center gap-y-1 text-[0.9rem] font-medium text-gray-500 sm:w-[initial] sm:flex-nowrap sm:gap-5"
  >
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#projects">Projects</a>
    </li>
    <li>
      <a href="#skills">Skills</a>
    </li>
    <li>
      <a href="#experience">Experience</a>
    </li>
    <li>
      <a href="#education">Education</a>
    </li>
    <li
    >
      <a href="#contact" class="hover:text-gray-950 transition">Contact</a>
    </li>
  </ul>
</div>

<style>
  li {
    opacity: 1;
    transform: none;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }
</style>
